# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TCC.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UFAM\TCC\TCC\.idea\.idea.TCC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
